# System and build files
.DS_Store
*.pyc
*.so
*.egg-info
.eggs
*.tar
*~
build/
dist/

# IDE and temporary tests
.idea
.tox
.cache
.coverage**
.noseids
nosetests.json

# Sphinx
docs/_build/*
docs/cli/output/*

# Analysis files and images
analysis/*/*.png
analysis/*/*.svg
analysis/*/*/*.png
analysis/*/*/*.svg
analysis/*/*.txt
*.ipynb
.ipynb_checkpoints
