div.related {
  background: #1e69a8;
}

div.body {
  max-width: 1000px;
}

div.body h2 {
  background: #e0ecf9;
}

div.body h3 {
  background: #eaf1f7;
}

div.related {
  max-width: 1290px;
}

.class dt {
  background: #f7dab9;
  padding: 2px 6px;
}

.attribute dt {
  background: #fff3e7;
}

.method dt {
  background: #fff3e7;
}

.function dt {
  background: #fff3e7;
}

.classmethod dt {
  background: #fff3e7;
}

.data .descclassname {
  background: #fdfdda;
}

.data .descname {
  background: #fdfdda;
}


