div.related {
  background: #1e69a8;
  font-size: 1.0em;
}

div.body {
  max-width: 1000px;
  font-size: 1.1em;
}

div.body h1 {
  background: None;
  padding: 0;
  font-size: 160%;
}

div.body h2 {
  background: None;
  padding: 0;
  font-size: 120%;
}

div.body h3 {
  background: None;
  padding: 0px 0px 0px 15px;
  font-size: 100%;
}

div.related {
  max-width: 1290px;
}

.class dt {
  background: #f7dab9;
  padding: 2px 6px;
}

.attribute dt {
  background: #fff3e7;
}

.method dt {
  background: #fff3e7;
}

.function dt {
  background: #fff3e7;
}

.classmethod dt {
  background: #fff3e7;
}

.data .descclassname {
  background: #fdfdda;
}

.data .descname {
  background: #fdfdda;
}


colgroup {
  width: 65px;
}