div.body a {
  color: #731b00;
  text-decoration: none;
  border-bottom: 1px dotted #731b00;
}

div.body a:hover {
  color: #e32e00;
  text-decoration: none;
  border-bottom: 1px dotted #e32e00;
}

div.body a.headerlink {
  background-color: transparent;
  border-bottom: none;
}

div.body a.headerlink:hover {
  background-color: transparent;
  border-bottom: none;
}

div.body hr {
  border: none;
  height: 1px;
  background-color: #dbefff;
}

div.body pre {
  background-color: #fcfcfc;
  border-radius: 2px;
}

div.body {
  max-width: 1000px;
  font-size: 1.1em;
}

div.body h1 {
  background: None;
  padding: 0;
  color: #12446d;
  font-size: 160%;
}

div.body h2 {
  background: None;
  padding: 0;
  color: #1a65a2;
  font-size: 120%;
}

div.body h3 {
  background: None;
  padding: 0px 0px 0px 15px;
  color: #247ec7;
  font-size: 100%;
}

div.body li {
  padding-bottom: 12px;
}

div.related {
  max-width: 1290px;
  background: #1e69a8;
  font-size: 1.0em;
}

.class dt {
  background: #f7dab9;
  padding: 2px 6px;
}

.attribute dt {
  background: #fff3e7;
}

.method dt {
  background: #fff3e7;
}

.function dt {
  background: #fff3e7;
}

.classmethod dt {
  background: #fff3e7;
}

.data .descclassname {
  background: #fdfdda;
}

.data .descname {
  background: #fdfdda;
}

.toctree-wrapper.compound li {
  padding-bottom: 2px;
}

colgroup {
  width: 65px;
}